#set($serial = "$phone.SerialNumber")
#set($maxLineCount = $phone.MaxLineCount)
#set($signatureL1 = '####################################################')
#set($signatureL2 = '##         MAC-Oriented CFG File                  ##')
#set($signatureL3 = '####################################################')
#set($signatureL4 = '#!version:1.0.0.1')
#set($signatureL5 = '#File header "#!version:1.0.0.1" cannot be edited or deleted.##')
$signatureL4
$signatureL5

# Enable configured lines
#foreach ($line in $phone.lines)
#set ($lastLineID = $velocityCount)
#set ($SLP = $lastLineID - 1)
#set ($SLP = $SLP * 10)
#set ($SLP = $SLP + 5060)
# Line ${lastLineID} settings
#foreach ($group in $line.Settings.Values)
#${group.name}
#foreach ($setting in $group.Values)
#if(${setting.ProfileName} == "voice_mail.number")
${setting.ProfileName}.${lastLineID} = $!{setting.Value}
#elseif (${setting.ProfileName} == "label")
#elseif (${setting.ProfileName} == "user_name")
account.${lastLineID}.label = $!{setting.Value}
account.${lastLineID}.user_name = $!{setting.Value}
#else
#if(${setting.Value})
account.${lastLineID}.${setting.ProfileName} = $!{setting.Value}
#else
account.${lastLineID}.${setting.ProfileName} = %NULL%
#end
#end
#end
#end
account.${lastLineID}.sip_listen_port = ${SLP}
#end

#set ($lastLineID = $lastLineID + 1)
#if (${lastLineID}<${maxLineCount})
# Disable other lines
#foreach($L in [${lastLineID}..${maxLineCount}])
#set ($SLP = $L - 1)
#set ($SLP = $SLP * 10)
#set ($SLP = $SLP + 5060)
account.${L}.enable = 0
account.${L}.label = %NULL%
account.${L}.display_name = %NULL%
account.${L}.user_name = %NULL%
account.${L}.auth_name = %NULL%
account.${L}.password = %NULL%
account.${L}.sip_listen_port = ${SLP}
account.${L}.sip_server_host = %NULL%
account.${L}.sip_server_port = 5060
account.${L}.outbound_proxy_enable = 0
account.${L}.outbound_host = %NULL%
account.${L}.outbound_port = 5060
account.${L}.transport = 3
account.${L}.backup_outbound_host = %NULL%
account.${L}.backup_outbound_port = 5060
#end
#end

#Phone settings

#foreach ($group in $phone.Settings.Values)
#${group.name}
#foreach ($subgroup in $group.Values)
#if(${subgroup.isLeaf()})
#if(${subgroup.Value})
${subgroup.profileName} = $!{subgroup.Value}
#else
${subgroup.profileName} = %NULL% $!{subgroup.Value}
#end
#else
#foreach ($setting in $subgroup.Values)
#if(${setting.Value})
${setting.profileName} = $!{setting.Value}
#if (${setting.profileName} == "auto_provision.server.url")
#set ($TFTPServer = $!{setting.Value})
#end
#else
${setting.profileName} = %NULL% $!{setting.Value}
#end
#end
#end
#end
#end

#foreach ($f in $phone.RingTones)
ringtone.url = $!{TFTPServer}yealink/RingTones/$!{f}
#end

#foreach ($f in $phone.WallPapers)
wallpaper_upload.url = $!{TFTPServer}yealink/WallPapers/$!{f}
#end

#foreach ($f in $phone.ScreenSavers)
screen_saver.pic.url = $!{TFTPServer}yealink/ScreenSavers/$!{f}
#end

#foreach ($f in $phone.Languages)
gui_lang.url = $!{TFTPServer}yealink/Languages/$!{f}
#end
